<div class="container">
    <div class="card">
        <div class="d-flex justify-content-center mt-5">
            <form class="text-center" style="width: 400px;" (ngSubmit)="buscarDescuentos()" #descuentosForm="ngForm"> <!-- Ajusta el ancho del formulario -->
                <div class="form-group">
                    <label for="fechaDe">Desde:</label>
                    <input type="date" class="form-control" id="fechaDe" [(ngModel)]="de" name="de" required>
                </div>
        
                <div class="form-group mt-3">
                    <label for="fechaHasta">Hasta:</label>
                    <input type="date" class="form-control" id="fechaHasta" [(ngModel)]="hasta" name="hasta" required>
                </div>
        
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="!descuentosForm.form.valid">Buscar</button> <!-- Botón más largo -->
                </div>
            </form>
        </div>
        <br>          
        <h3>● Descuentos en un intervalor de tiempo. ({{descuentos.length}}) </h3>
        <div class="text-end"></div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Cliente</th>
                    <th>Sucursal</th>
                    <th>Caja</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>T/C descuento</th>
                    <th class="text-center">Descuento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of descuentos; let i = index">
                    <td>{{v.codigo}}</td>
                    <td>{{v.n_cliente}}</td>
                    <td>{{v.n_sucursal}}</td>
                    <td>Caja {{v.caja}}</td>
                    <td>{{v.fecha.substring(0,10)}}</td>
                    <td>{{v.total_sin_descuento}}</td>
                    <td>{{v.total_con_descuento}}</td>
                    <td>{{(v.total_sin_descuento-v.total_con_descuento)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
