
<div class="container mt-2 col-md-10" *ngIf="mostrarDetalles">
    <div class="row">
        <div class="col">
            <div class="card my-10">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
                    <h3 class="mt-2 me-4">Detalles en esta compra</h3>
                </nav>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary"
                        (click)="mostrarDetalles=false"><i class="bi bi-add"></i> Aceptar</button>
                </div> 
                <div class="card-body">
                    
                </div>
                <h3>Productos en la compra {{codigoDetalleCompra}}</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Compra</th>
                            <th>Nombre producto</th>
                            <th>Cantidad</th>
                            <th>Precio unitario</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pc of productosNuevaCompra; let i = index">
                            <td>{{pc.id_compra}}</td>
                            <td>{{pc.producto}}</td>
                            <td>{{pc.cantidad}}</td>
                            <td>{{pc.precio_unitario}}</td>
                            <td>{{pc.subtotal}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <h3>Precio total {{totalNuevaCompra}}</h3>
            </div>
        </div>
    </div>
</div>


<div class="container mt-2 col-md-10" *ngIf="mostrarNuevaCompra">
    <div class="row">
        <div class="col">
            <div class="card my-10">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
                    <h3 class="mt-2 me-4">Nueva Compra</h3>
                </nav>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary"
                        (click)="dejarDeMostrarNuevaCompra()"><i class="bi bi-add"></i> Aceptar</button>
                </div> 
                <div class="text-init">
                    <button type="submit" class="btn btn-danger"
                        (click)="cancelarCompra()"><i class="bi bi-add"></i> Cancelar compra</button>
                </div> 
                <br>
                <div class="card-body">
                    <form (ngSubmit)="agregarProductoACompra(nuevaCompraForm)"  #nuevaCompraForm="ngForm">
                        
                        <div class="form-group">
                            <label for="rol">Seleccione el producto:</label>
                            <select class="form-select" aria-label="Default select example" id="combo"  name="comoboProductos" required [(ngModel)]="productoSeleccionado">
                                <option *ngFor="let pr of productos; let i = index" [value]="pr.codigo">C.{{pr.codigo}}:  {{pr.nombre}}, en bodega ({{pr.cantidad_bodega}})</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="cantidad">Ingrese la cantidad del producto:</label>
                            <input type="number" class="form-control" name="cantidad" [(ngModel)]="cantidadProducto"  required>
                        </div>                        
                        <br>
                        <div class="form-group">
                            <label for="precio">Ingrese el precio de compra del producto:</label>
                            <input type="number" class="form-control" name="precio" [(ngModel)]="precioProducto"  required>
                        </div>                        
                        <br>
                        <div>
                            <button type="submit" class="btn btn-success"
                                [disabled]="!nuevaCompraForm.form.valid"><i class="bi bi-add"></i> Agregar</button>
                        </div> 
                    </form>
                </div>
                <h3>Productos en la compra {{codigoNuevaCompra}}</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Compra</th>
                            <th>Nombre producto</th>
                            <th>Cantidad</th>
                            <th>Precio unitario</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pc of productosNuevaCompra; let i = index">
                            <td>{{pc.id_compra}}</td>
                            <td>{{pc.producto}}</td>
                            <td>{{pc.cantidad}}</td>
                            <td>{{pc.precio_unitario}}</td>
                            <td>{{pc.subtotal}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <h3>Precio total {{totalNuevaCompra}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 pt-5" *ngIf="!mostrarNuevaCompra && !mostrarDetalles" >
    <div class="card">
        <h3>Totales ({{compras.length}}) </h3>
        <div class="text-end">
            <button class="btn btn-primary ms-3 mt-2" aria-label="Agregar compra" (click)="nuevaCompra()">
                <i class="bi bi-cart-plus-fill bi-xxl"></i> Agregar
            </button>
        </div><br>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Sucursal</th>
                    <th>Fecha de compra</th>
                    <th>Total</th>
                    <th class="text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras; let i = index">
                    <td>{{compra.codigo}}</td>
                    <td>{{compra.sucursal}}</td>
                    <td>{{compra.fecha}}</td>
                    <td>{{compra.total_compra}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning me-2 col-sm-5" (click)="verDetalles(compra)"> <i class="bi bi-eye"></i>      Detalles</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
