<div class="container" >
    <div class="card">
        <h3>INFORMACION DE ESTA SUCURSAL</h3>
        <br>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Dinero en caja</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>{{sucursal.identificacion}}</td>
                    <td>{{sucursal.nombre}}</td>
                    <td>{{sucursal.direccion}}</td>
                    <td> {{sucursal.dinero_caja}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>