
<!-- Topbar End -->
<!-- Navbar Start -->
<br>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-angle-right"></i> Caja {{getCaja()}}</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse" style="font-size: 20px;">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="ventas" class="nav-item nav-link active"  style="color: rgb(0, 63, 252);">Ventas</a>
                <a routerLink="productosCajero" class="nav-item nav-link active"  style="color: rgb(0, 63, 252);">Productos</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Clientes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="clientes" style="color: rgb(0, 63, 252);">Todos clientes</a>
                        <a class="dropdown-item" routerLink="solicitudesModificacionCliente" style="color: rgb(0, 63, 252);">Solicid de modificacion</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Tarjetas de descuentos</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="consultarProductos" style="color: rgb(0, 63, 252);">Generar tarjeta</a>
                        <a class="dropdown-item" routerLink="consultarProductos" style="color: rgb(0, 63, 252);">Solicitudes de cambio</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Otros</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="infoSucursal" style="color: rgb(0, 63, 252);">Esta sucursal</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Navbar End -->
<!-- Header Start -->

