#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Tu Aplicación
Exec=/home/eiler/Documentos/Universidad/SegundoSemestre2024/Archivos/Proyecto1/Ejecutable/openProyect1Archivos2024
Icon=/home/eiler/Documentos/Universidad/SegundoSemestre2024/Archivos/Proyecto1/Ejecutable/LOGO.ico
Terminal=false
Type=Application
Categories=Utility;
