
<div class="container mt-5 pt-5" >
    <div class="card">
        <h3>Lista de productos en esta sucursal</h3>
        <br>
        <div class="form-group row">
            <label for="busqueda" class="col-md-4 col-form-label">Búsqueda totales: {{productos.length}}</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="busqueda"name="busqueda" 
                        placeholder="Buscar productos..." [(ngModel)]="claveBusqueda" 
                        (input)="searchProducto(claveBusqueda)"
                    >
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Cantidad en bodega</th>
                    <th>Cantidad en estanteria</th>
                    <th>Pasillo en bodega</th>
                    <th>Pasillo en estanteria</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of productos; let i = index">
                    <td>{{p.codigo}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.cantidad_bodega}}</td>
                    <td>{{p.cantidad_estanteria}}</td>
                    <td>{{p.pasillo_bodega}}</td>
                    <td>{{p.pasillo_estanteria}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
