
<div class="container " >
    <div class="card">
        <h3>● Top 10 artículos más vendidos.</h3>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th class="text-center">Cantidad vendida</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of productos; let i = index">
                    <td>{{p.codigo}}</td>
                    <td>{{p.nombre}}</td>
                    <td class="text-center">{{p.precio_unitario_venta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

